<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUVAY</title>
    <link rel="icon" type="image/png" href="../pic/testlogo.png">
    <link href="https://fonts.cdnfonts.com/css/vazirmatn" rel="stylesheet"> 
    <link href="https://fonts.cdnfonts.com/css/tilt-warp" rel="stylesheet">              
    <link rel="stylesheet" href="../style/main.css" />
</head>
<body>
    <div class="sidebar-container">
        <div class="main-sidebar">   
            <div class="close-button-container">
                <span class="close-button"> 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <use href="#close"></use>
                </svg>Close
                </span>
            </div>
            <nav class="nav-menu">
            <div class="menu-item" >
                    <div class="gifts"><a href="#">Gifts</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                    </span>
            </div>
            <div class="menu-item">
                    <div class="new-in"><a href="#">New In</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                    </span>
            </div>
            <div class="menu-item">
                <div class="bags"><a href="#">Bags</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                   </span>
            </div>
            <div class="menu-item">
                <div class="women"><a href="#">Women</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                    </span>
            </div>
            <div class="menu-item">
                <div class="men"><a href="#">Men</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                    </span>
            </div>
            <div class="menu-item">
                <div class="jewlery"><a href="#">Jewlery</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                     </span>
            </div>
            <div class="menu-item">
                <div class="watches"><a href="#">Watches</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                   </span>
            </div>
            <div class="menu-item">
                <div class="perfumes"><a href="#">Prefumes</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                  </span>
            </div>
            <div class="menu-item">
                <div class="kids"><a href="#">Kids</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                   </span>
            </div>
            <div class="menu-item">
                <div class="special"><a href="#">Special</a></div>
                    <span> 
                        <svg xmlns="http://www.w3.org/2000/svg" class="right-arrow--sidebar" viewBox="0 0 16 16">
                            <use href="#arrow"></use>
                        </svg>
                   </span>
            </div>
            </nav>
        </div>
        <div class="second-sidebar">
                <div style="height: 100px;"></div>
                <nav  class="second-nav-menu">
                    <div class="second-menu-item">
                    <a href="#">Gifts for Her</a>
                    <a href="#">Gifts for Him</a>
                    <a href="#">Gifts for Baby</a>
                     </div>
                    <div class="second-menu-item">
                    <a href="#">For Women</a>
                    <a href="#">For Men</a>
                    <a href="#">For Baby</a>
                    </div>
                    <div class="second-menu-item">
                    <a href="#">For Women</a>
                    <a href="#">For Men</a>
                    </div>
                    <div class="second-menu-item">
                    <a href="#">BOTTOMS</a>
                    <a href="#">BAGS</a>
                    <a href="#">JEWELRY</a>
                    <a href="#">SHOES</a>
                    <a href="#">NEW IN</a>
                    </div>
                    <div class="second-menu-item">
                    <a href="#">MEN</a>
                    <a href="#">BOTTOMS</a>
                    <a href="#">BAGS</a>
                    <a href="#">JEWELRY</a>
                    <a href="#">SHOES</a>
                    </div>
                    <div class="second-menu-item">
                            <a href="#">JEWLERY</a>
                            <a href="#">BOTTOMS</a>
                            <a href="#">BAGS</a>
                            <a href="#">JEWELRY</a>
                            <a href="#">SHOES</a>
                            <a href="#">NEW IN</a>
                    </div>
                    <div class="second-menu-item">
                            <a href="#">WATCHES</a>
                            <a href="#">BOTTOMS</a>
                            <a href="#">BAGS</a>
                            <a href="#">JEWELRY</a>
                            <a href="#">SHOES</a>
                            <a href="#">NEW IN</a>
                    </div>
                    <div class="second-menu-item">
                            <a href="#">PERFUMES</a>
                            <a href="#">BOTTOMS</a>
                            <a href="#">BAGS</a>
                            <a href="#">JEWELRY</a>
                            <a href="#">SHOES</a>
                            <a href="#">NEW IN</a>
                    </div>
                    <div class="second-menu-item">
                        <a href="#">KIDS</a>
                        <a href="#">BOTTOMS</a>
                        <a href="#">BAGS</a>
                        <a href="#">JEWELRY</a>
                        <a href="#">SHOES</a>
                        <a href="#">NEW IN</a>
                    </div>
                    <div class="second-menu-item">
                        <a href="#">SPECIAL</a>
                        <a href="#">BOTTOMS</a>
                        <a href="#">BAGS</a>
                        <a href="#">JEWELRY</a>
                        <a href="#">SHOES</a>
                        <a href="#">NEW IN</a>
                    </div>
                </nav>
        </div>
    </div>
    <main class="main-page--container">
            <header style="height: 0;" id="header">
                    <div class="header-div" id="header-div">
                            <div class="menu">
                                <div style="width:1100px;"></div>
                                <div class="menu-elements-contianer"> 
                                    <ul>
                                        <li>
                                            <a id="a3" class="header-item" href="#">
                                                <span>Sign up</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            <svg version="1.1" id="basket" class="menu-svg header-item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
                                                <use  href="#bag"></use>
                                            </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="a2" class="header-item">
                                            <div> 
                                            <svg version="1.1" id="menues" class="menu-svg header-item" style="margin-right:10px " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1414 1414" enable-background="new 0 0 1414 1414" xml:space="preserve">
                                                <use href="#menu"></use>
                                            </svg>
                                            <span>menu</span>
                                            </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="logo-container"> 
                                <svg id="logo" class="logo header-item" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024 1024" xml:space="preserve">
                                    <use href="#Duvay-logo"></use>
                                </svg>
                            </div>
                    </div>
            </header>
            <main class="bgc-white">
                <!-- section 1 (carousel) -->
                <section>
                    <div class="carousel-container">
                        <div class="inner-carousel">
                            <div class="carousel-item  carousel-item-next">
                                <div class="first-section-container">
                                    <div class="first-section-image-container">
                                        <img src="../pic/models-pics/main-model-4-croped.jpg" alt="main-model">
                                    </div>
                                        <div class="first-details-container" >
                                            <div class="details-item"><p class="paragraph-details-first">Fashion<sub class="sub-week">week,</sub></p><p>lookbook `24`</p></div> 
                                            <div class="first-button-container"><a href="#"> Explore</a></div> 
                                        </div>
                                    </div>
                            </div>
                            <div class="carousel-item carousel-item-next not-active">
                                <div class="first-section-container">
                                    <div class="first-section-image-container">
                                        <img src="../pic/models-pics/Model-pic-1.jpg" class="d-block w-100" alt="main-model-2">
                                    </div>
                                        <div class="second-details-container">
                                            <div class="details-item"><p class="paragraph-details-second">DUV-021 ,</p><p>Makeup collection</p><p> now available.</p></div> 
                                            <div class="second-button-container"><a href="#"> Explore</a></div> 
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section 2.1(shope: men/women)-->
                <section id="section-2-1">
                        <div class="section-2-grid-container">
                            <div>
                                <a href="#" class="card-item">
                                    <div class="item-image"><img draggable="false" id="male-model" src="../pic/models-pics/man-falling-brown.jpg" alt="male-model"/></div>
                                    <div class="details-container">
                                        <p>New in for Men</p>
                                        <span class="button custom-for-men">SHOPE FOR MEN</span>
                                    </div>
                                </a>  
                            </div>
                            <div> 
                                <a href="#" class="card-item">
                                    <!--model 6.0-->
                                    <div class="item-image"><img draggable="false" id="female-model" src="../pic/models-pics/women-yellow-sitting.jpg" alt="female-model" /></div>
                                    <div class="details-container">
                                        <p>New in for Women</p>
                                        <span class="button custom-for-women">SHOPE FOR WOMEN</span>
                                    </div>
                                </a>  
                            </div>
                        </div>
                </section>
                <!--section product -->
                <section>
                    <div class="section-products"> 
                        <p class="products-p-text"> Newest Arrivals </p> 
                        <div id="product-container" class="product-container">
                            <div class="product-item">
                            <form method="post" name="Foorm" action="/wdadd">
                                <a onclick="document.Foorm.submit()"> 
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/Untitled(1).png" alt="" />
                                    <img src="../pic/models-pics/Untitled.png" alt="" class="second-image" />
                                </div>
                                </a>
                            </form>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/Untitled.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is the last one</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/men-Untitled.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/men-Untitled (1).png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/women-un2-2-2.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/women-bag-Untitled.png" alt="mens-bag" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/Untitled21.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/unn2.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is the last one</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/men-boots-Untitled.png" alt="mens-bag" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/unn-2-2-2.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is the last one</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/menUntitled.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is the last one</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div> 
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/menun2.png" alt="mens-bag" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span">NEW IN</span>
                            </div>
                        </div>
                        <button id="right" class="next product-buttons">
                            <span class="span-chevron"> 
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="chevron" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </span>
                        </button>
                        <button id="left" class="prev product-buttons fade-button-out">
                            <span class="span-chevron">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="chevron" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            </svg>
                            </span>
                        </button>
                    </div>
                </section>
                <!-- section 2.2(shoes) -->
                <section id="section-2-2">
                    <div class="section-2-grid-container">
                        <div>
                            <a href="#" class="card-item">
                                <div class="item-image"><img draggable="false" id="male-model-2" src="../pic/models-pics/man-standing-on-boots.jpg" alt="male-model"/></div>
                                <div class="details-container">
                                    <p>New in for Men</p>
                                    <span class="button">SHOES FOR MEN</span>
                                </div>
                            </a>  
                        </div>
                        <div> 
                            <a href="#" class="card-item">
                                <!--model 6.0-->
                                <div class="item-image"><img draggable="false" id="female-model-2" src="../pic/models-pics/women-shoes-sunglasses.jpg" alt="female-model" /></div>
                                <div class="details-container">
                                    <p>New in for Womne </p>
                                    <span class="button">SHOES FOR WOMEN</span>
                                </div>
                            </a>  
                        </div>
                    </div>
                </section>
                <!-- section product (exclusive) -->
                <section>  
                    <div class="section-products"> 
                        <p class="products-p-text red-exclusive"> MAHOGA COLLECTION</p> 
                        <div id="product-container-2" class="product-container-2">
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/New folder/UntitledlL.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span red-exclusive">EXCLUSIVE</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/New folder/Untitled.png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span red-exclusive">EXCLUSIVE</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/New folder/Untitled (1).png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                <span class="rotated-span red-exclusive">EXCLUSIVE</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/New folder/Untitled (2).png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                        
                                <span class="rotated-span red-exclusive">EXCLUSIVE</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/New folder/Untitled (3).png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                            
                                <span class="rotated-span red-exclusive">EXCLUSIVE</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/New folder/Untitled (5).png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                                
                                <span class="rotated-span red-exclusive">EXCLUSIVE</span>
                            </div>
                            <div class="product-item">
                                <div class="product-image-container">
                                    <img src="../pic/models-pics/New folder/Untitled (4).png" alt="" />
                                </div>
                                <div class="product-details-container">
                                    <p> this is a test</p>
                                    <p> this is the price</p>
                                    <form method="post" name="" action="">
                                        <a onclick="document">
                                            <div class="add-tb-container">
                                                <span class="tb-button">ADD TO BAG</span>
                                            </div>
                                            </a>
                                        </form>
                                </div>
                            
                                <span class="rotated-span red-exclusive">EXCLUSIVE</span>
                            </div>
                        </div>
                        <button id="right-2" class="next-2 product-buttons-2">
                            <span class="span-chevron"> 
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="chevron" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </span>
                        </button>
                        <button id="left-2" class="prev-2 product-buttons-2 fade-button-out">
                            <span class="span-chevron">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="chevron" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            </svg>
                            </span>
                        </button>
                    </div>
                </section>
                <!--highlights section(focus) -->
                <section id="highlights-section" class="highlights-section">
                    <div class="highlights-container">
                    <div class="highlights-h1-container"><h1>IN FOCUS</h1></div>
                    <div class="highlights-details-container">
                        <div class="highlights-image-container">
                            <a href="#"> 
                            <img id="highlights-image-2" src="../pic/models-pics/K-2-croped.jpg" alt="" class="second-picture"/>
                            <img id="highlights-image" src="../pic/models-pics/K-croped-1783.jpg" alt="bag-model" class="first-picture"/>
                            </a>
                        </div>
                        <div class="highlights-paragraph-container">
                            <h2>This is the heading</h2>
                            <span>
                                this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test , this is a test 
                            </span>
                            <span>
                            <a href="#" >order</a>
                            </span>
                        </div>
                    </div>
                </div>
                </section>
            </main>
            <!-- Footer section -->
            <footer>
                <div class="footer-container">
                    <!--main flex -->
                    <div class="main-footer">
                        <div class="main-footer-info "> 
                            <div class="info-container"> 
                                    <h6>HELP</h6>
                                    <ul>
                                        <li><a href="#"><span>Contact Us</span></a></li>
                                        <li><a href="#"><span>FAQs</span></a></li>
                                        <li><a href="#"><span>My Order</span></a></li>
                                    </ul>
                            </div>
                        </div>
                        <div class="main-footer-info"> 
                            <div class="info-container"> 
                                    <h6>THE COMPANY</h6>
                                    <ul>
                                        <li><a href="#"><span>About DUVAY</span></a></li>
                                        <li><a href="#"><span>Latest News</span></a></li>
                                        <li><a href="#"><span>Legal</span></a></li>
                                        <li><a href="#"><span>Arts & Culture</span></a></li>
                                        <li><a href="#"><span>Privacy & Cookies Policy</span></a></li>
                                        <li><a href="#"><span>Careers</span></a></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <!--our services -->
                    <div class="services-footer"> 
                        <div class="services-footer-info">
                            <div class="info-container">
                                <h6>DUVAY Services </h6>
                                <ul>
                                    <li><a href=""><span>Discover our services </span></a> </li>
                                    <li><a href=""><span>Art of Gifting</span></a> </li>
                                    <li><a href=""><span>Personalization</span></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- copy rights-->
                    <div class="copy-rights"> 
                    <div class="copyrights-p-container"> 
                        <p> © 2016 - 2024 DUVAY S.p.A. - All rights reserved</p>
                    </div>
                        <div class="copyrights-logo-container"> 
                            <a href="#">
                                <img src="../pic/models-pics//fotter-logo-croped.png" alt="" class="footer-logo-image"/>
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
    </main>
    <script>
//////////////////////////////////////ON SCROLL ACTIONS///////////////////////////////////
window.onscroll= ()=>{
        onScrollHeader ();
        onScrollItem();
        onScrollItem_2();
        onScrollHighlights();
}
function onScrollItem(){
    //when section2-1 on screen => animate the images by adding the class
    let sectionItem=document.getElementById("section-2-1");
    let top = window.scrollY ;
    let offset = sectionItem.offsetTop -690;
    let height = sectionItem.offsetHeight+590;
    if(top >= offset && top < offset + height){
        document.getElementById("male-model").classList.add("animation-for-images");
        document.getElementById("female-model").classList.add("animation-for-images");
    }
}
function onScrollItem_2(){
     //when section2-2 on screen => animate the images by adding the class
    let sectionItemItem2=document.getElementById("section-2-2");
    let top = window.scrollY;
    let offset = sectionItemItem2.offsetTop-690 ; //-690
    let height = sectionItemItem2.offsetHeight+590;//+590
    if (top>=offset && top < offset + height){
        document.getElementById("male-model-2").classList.add("animation-for-images");
        document.getElementById("female-model-2").classList.add("animation-for-images");    
    }
}
function onScrollHighlights(){
         //when section highlights(focus) on screen => animate the images by adding the class
    let sectionHighlight=document.getElementById("highlights-section");
        let top = window.scrollY;
        let offset = sectionHighlight.offsetTop-690 ; //-690
        let height = sectionHighlight.offsetHeight+590;//+590
        if (top>=offset && top < offset + height){
        document.getElementById("highlights-image").classList.add("animation-for-images");   
        document.getElementById("highlights-image-2").classList.add("animation-for-images");  
        }
    }
function onScrollHeader (){
    /*  when the header on screen => 
    {   -animate the logo postion and color
        -animate the menu items color to black 
        -animate the header-div background color to white
    } 
    by adding  the classes
    else{
        remove the classes  
    }
        */ 
        let logoHeader=document.getElementById("header");
        let top = window.scrollY;
        let offset = logoHeader.offsetTop;
        let height = logoHeader.offsetHeight +.5;
        let headerItems = document.querySelectorAll(".header-item");
       headerItems.forEach((item)=>{
        item.classList.add("animate-color");
       });
       if (top>=offset && top < offset + height){
        headerItems.forEach((item)=>{
            item.classList.remove("animate-color");
           });
           document.getElementById("logo").classList.remove("animate-logo");
           document.getElementById("header-div").classList.remove("animate-bar-color");  
       }
       else{
        headerItems.forEach((item)=>{
            item.classList.add("animate-color");
           });
           document.getElementById("logo").classList.add("animate-logo");
           document.getElementById("header-div").classList.add("animate-bar-color"); 
       }
    }
////////////////////////////////////SECTION PRODUCTS ACTIONS//////////////////////////////
            /*
            when click on the (left-right) buttons in the product section => {
                if the right(next) button is clicked :
                -add to the index
                -add to amount of scrolling 
                -remove the class(fade-button-out) from the left(prev) button
                --if index reached number of product(is max) :
                    -make the right button disappear
                /////////////////////////////////////////
                if the left(prev) button is clicked : 
                -subtract from index 
                -subtract from amount of scrolling 
                -make the right(next) button appear 
                --if index reached 0 :
                    -make the left(prev) button disappear
            }
            */
            var indexOfProducts=0;//keep track of how many clicks we have left
            var scrollAmount=0;    // keep track of scroll amount
            let button = document.querySelectorAll(".product-buttons");
            let right = document.getElementById("right");
            let left = document.getElementById("left");
            let productContainer=document.getElementById("product-container");
                button.forEach((btn)=>{
                    btn.addEventListener("click",()=>{
                    if(btn.id=="right"){
                        if (indexOfProducts>=0 && indexOfProducts<productContainer.children.length -4){
                        indexOfProducts+=1;
                        scrollAmount -=25;
                        (indexOfProducts ===productContainer.children.length-4) && right.classList.add("fade-button-out");
                        left.classList.remove("fade-button-out");
                        }
                    }
                    else{
                        right.classList.remove("fade-button-out");
                        if(indexOfProducts>0 && indexOfProducts<=productContainer.children.length -4){
                        indexOfProducts-=1;
                        scrollAmount+=25;
                        (indexOfProducts ===0) && left.classList.add("fade-button-out");
                        }
                    }
                    productContainer.style.setProperty("--index-scroll",scrollAmount);//change the scroll amount in the css
                    })
                });
///////////////////////////SECTION PRODUCTS (EXCLUSIVE) ACTIONS /////////////////////////
        /*
        same as section products
        */
        var indexOfProducts2=0;
        var scrollAmount2=0;
        let button2 = document.querySelectorAll(".product-buttons-2");
        let right2 = document.getElementById("right-2");
        let left2 = document.getElementById("left-2");
        let productContainer2=document.getElementById("product-container-2");
            button2.forEach((btn)=>{
                btn.addEventListener("click",()=>{
                if(btn.id=="right-2"){
                    if (indexOfProducts2>=0 && indexOfProducts2<productContainer2.children.length -4){
                    indexOfProducts2+=1;
                    scrollAmount2 -=25;
                    (indexOfProducts2 ===productContainer2.children.length-4) && right2.classList.add("fade-button-out");
                    left2.classList.remove("fade-button-out");
                    }
                }
                else{
                    right2.classList.remove("fade-button-out");
                    if(indexOfProducts2>0 && indexOfProducts2<=productContainer2.children.length -4){
                    indexOfProducts2 -=1;
                    scrollAmount2 +=25;
                    (indexOfProducts2 ===0) && left2.classList.add("fade-button-out");
                    }
                }
                productContainer2.style.setProperty("--index-scroll-2",scrollAmount2);//change the scroll amount in the css
                })
            });
////////////////////////////////////SIDEBARS ACTIONS//////////////////////////////////////
         /* 
         4 ACTIONS : 
         1- when click on the menu svg =>{
            -open the side bar by adding the class
            -make the main page darker by adding the class
            -make over flow hidden
         }
         2- when click on close button svg {
            -close the main/second side bar by removing the classes 
            -remove the dark effect by removeing the classes 
            -remove the overflow hidden 
         }
         3- when mouseHover / mouseOut on the main-side bar items{
            mouseOver : show the arrows 
            mouseOut : hide the arrows 
         }
         4- when click on the main-side bar items{
            make the arrow always visible
         }
         */
        let secondMenuItemss=document.querySelectorAll(".second-menu-item");
        let closeButton = document.querySelector(".close-button");
        let secondSideBar=document.querySelector(".second-sidebar");
        let sidebar=document.querySelector(".sidebar-container");
        let body=document.querySelector(".main-page--container");
        let flow = document.querySelector("body");
        //open main side bar // overflow hidden // main content darker 
        let a2 = document.querySelector("#a2");
        a2.addEventListener("click" ,()=>{
        sidebar.classList.add("show-the-sidebar");
        body.classList.add("low-brightness");
        flow.classList.add("overflow-hidden");
        });
        //close all sidebars // remove overflow hidden // remove the filter effect 
     closeButton.addEventListener("click",()=>{
        secondSideBar.classList.remove("show-second-sidebar");
        sidebar.classList.remove("show-the-sidebar");
        body.classList.remove("low-brightness");
        flow.classList.remove("overflow-hidden");
        secondMenuItemss.forEach((secondMenuItme)=>{
            secondMenuItme.classList.remove("show-second-menu-item");
            });
        });
        // show the second sidebar // show the arrow in the main sidebar when mouseHover and hide it when mouseOut // make the arrow always visibile when click 
        let ancoreMenuItem =document.querySelectorAll(".menu-item > div");
        let rightArrowsSidebar = document.querySelectorAll(".right-arrow--sidebar");
        let secondMenuItems=document.querySelectorAll(".second-menu-item");
        let navMenuItems=document.querySelector(".second-nav-menu");
    ancoreMenuItem.forEach((ancore)=>{
        ancore.addEventListener("mouseover",()=>{
            switch(true){
            case ancore.classList[0]==="gifts" :
            rightArrowsSidebar[0].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="new-in" :
            rightArrowsSidebar[1].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="bags" :
            rightArrowsSidebar[2].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="women" :
            rightArrowsSidebar[3].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="men" :
            rightArrowsSidebar[4].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="jewlery" :
            rightArrowsSidebar[5].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="watches" :
            rightArrowsSidebar[6].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="perfumes" :
            rightArrowsSidebar[7].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="kids" :
            rightArrowsSidebar[8].classList.add("show-rightarrow-sidebar");
            break;
            case ancore.classList[0]==="special" :
            rightArrowsSidebar[9].classList.add("show-rightarrow-sidebar");
            break;}
        });
        ancore.addEventListener("mouseout" , ()=>{
             rightArrowsSidebar.forEach((rightArrow)=>{
             rightArrow.classList.remove("show-rightarrow-sidebar");
                });
            });
        ancore.addEventListener("click" , ()=>{
               secondMenuItems.forEach((secondMenuItme)=>{
                secondMenuItme.classList.remove("show-second-menu-item");
               });
            switch(true){
            case ancore.classList[0]==="gifts" :
            navMenuItems.children[0].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="new-in" :
            navMenuItems.children[1].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="bags" :
            navMenuItems.children[2].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="women" :
            navMenuItems.children[3].classList.add("show-second-menu-item");
            break;show-second-menu-item
            case ancore.classList[0]==="men" :
            navMenuItems.children[4].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="jewlery" :
            navMenuItems.children[5].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="watches" :
            navMenuItems.children[6].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="perfumes" :
            navMenuItems.children[7].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="kids" :
            navMenuItems.children[8].classList.add("show-second-menu-item");
            break;
            case ancore.classList[0]==="special" :
            navMenuItems.children[9].classList.add("show-second-menu-item");
            break;
            }
            secondSideBar.classList.add("show-second-sidebar");
            });
        });
///////////////////////////////////CAROUSEL ACTIONS (FOR FIRST SECTION)/////////////////////////
        /*
        toggle the (not-active) class between carousel items , every 8 seconds 
        */
        let innerCarousel=document.querySelector(".inner-carousel");
        function toggleNotActive(){
          setInterval(()=>{
            innerCarousel.children[0].classList.toggle("not-active");
            innerCarousel.children[1].classList.toggle("not-active");
            },8000);
        }
        toggleNotActive();
    </script>
    <!--THESE ARE THE SVGZ || NOT IMPORTANT !! -->
    <svg style="display:none; height:0">
        <Symbol id="arrow">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </Symbol>
        <symbol id="close" >
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </symbol>
        <symbol id="bag">
            <path stroke="none" 
                                       d="
                                   M473.829895,81.696564 
                                       C508.209015,69.071548 540.662598,72.662048 571.407043,91.471184 
                                       C600.934692,109.535927 620.847412,136.152771 636.457153,166.343567 
                                       C652.845764,198.040878 661.945862,232.007431 667.080994,267.147522 
                                       C667.609680,270.765137 668.240112,274.421661 668.204712,278.054108 
                                       C668.161987,282.439056 669.928162,283.764709 674.199036,283.737518 
                                       C698.027100,283.585846 721.856628,283.670166 745.685669,283.673584 
                                       C755.683899,283.675049 765.682129,283.650543 775.680237,283.686005 
                                       C782.294006,283.709473 785.827698,286.156403 788.154236,292.335236 
                                       C789.636475,296.271759 790.151672,300.386444 790.151367,304.584930 
                                       C790.142761,443.393280 790.149048,582.201660 790.097656,721.010010 
                                       C790.096436,724.316467 789.784668,727.694885 789.061279,730.914734 
                                       C787.243896,739.004028 782.880859,742.320679 774.595459,742.321106 
                                       C600.460083,742.329468 426.324738,742.333374 252.189362,742.331909 
                                       C242.509247,742.331848 238.386551,738.906799 236.672684,729.266968 
                                       C236.180344,726.497620 235.941483,723.645996 235.940796,720.831970 
                                       C235.907013,582.190247 235.916016,443.548492 235.889832,304.906769 
                                       C235.889160,301.378143 236.093811,297.861328 237.144516,294.533234 
                                       C239.730530,286.342041 243.449005,283.485107 251.460739,283.551605 
                                       C284.619202,283.826813 317.781738,283.581238 350.941376,283.771545 
                                       C355.894623,283.799957 357.321136,282.184143 357.868774,277.304504 
                                       C363.714142,225.220367 378.476105,176.254807 409.854065,133.409134 
                                       C426.494843,110.686623 447.044250,92.582291 473.829895,81.696564 
                                   M448.500000,319.898773 
                                       C387.839264,319.894623 327.178497,319.888489 266.517761,319.888824 
                                       C259.438995,319.888855 259.415161,319.905273 259.414520,326.625244 
                                       C259.402527,451.447235 259.411011,576.269226 259.320923,701.091187 
                                       C259.318176,704.888550 260.137146,706.205139 264.285950,706.200562 
                                       C379.608704,706.074097 494.931610,706.096680 610.254517,706.094727 
                                       C660.083313,706.093872 709.912109,706.076355 759.740906,706.112976 
                                       C766.622864,706.117981 766.633911,706.242493 766.634155,699.621033 
                                       C766.638550,575.465576 766.641602,451.310150 766.638428,327.154724 
                                       C766.638245,319.946411 766.612549,319.920319 759.462341,319.918091 
                                       C720.135803,319.905670 680.809204,319.905853 641.482666,319.904053 
                                       C577.488464,319.901154 513.494202,319.900085 448.500000,319.898773 
                                   M645.650391,265.727295 
                                       C640.868774,234.431458 632.462646,204.252396 617.924500,175.973465 
                                       C605.044922,150.920624 588.909302,128.528397 565.304077,112.367737 
                                       C530.985657,88.872597 491.714935,89.703812 458.252411,114.152084 
                                       C437.881348,129.035538 423.053711,148.446136 411.149841,170.310532 
                                       C393.316925,203.065125 383.509125,238.309677 379.230072,275.206421 
                                       C378.250549,283.652710 378.332703,283.667877 386.879730,283.668274 
                                       C471.332794,283.672272 555.785889,283.674286 640.238953,283.676453 
                                       C641.404968,283.676483 642.577332,283.591400 643.735718,283.683929 
                                       C646.902222,283.936951 647.947754,282.351105 647.539612,279.443481 
                                       C646.938660,275.162964 646.325134,270.884247 645.650391,265.727295 
                                   z"/>
        </symbol>
        <symbol id="menu">
            <path  opacity="1.000000" stroke="none" 
                                                d="
                                            M791.000000,966.656372 
                                                C869.483459,966.656555 947.467041,966.580933 1025.450195,966.741638 
                                                C1036.893555,966.765259 1048.021484,969.360413 1056.777100,977.301331 
                                                C1062.258057,982.272400 1066.296997,988.276001 1067.543945,996.250122 
                                                C1068.403320,1001.745483 1068.632324,1006.680725 1067.653320,1012.232910 
                                                C1065.920654,1022.059814 1060.460815,1028.749146 1052.632446,1033.864258 
                                                C1049.420654,1035.962891 1045.512207,1037.000488 1041.911011,1038.497314 
                                                C1030.175903,1043.374878 1017.813782,1042.186401 1005.587646,1042.187378 
                                                C800.631165,1042.203613 595.674438,1042.322754 390.718719,1041.920288 
                                                C377.913910,1041.895142 364.668671,1038.477173 355.737152,1027.471558 
                                                C349.052155,1019.234070 345.770752,1009.822754 348.185944,998.919373 
                                                C349.672791,992.207092 351.140869,985.418579 356.392334,980.672729 
                                                C361.669495,975.903625 367.097870,971.640869 374.469482,969.411377 
                                                C386.323639,965.825989 398.187958,966.717957 410.082397,966.709961 
                                                C536.888245,966.624756 663.694092,966.656921 791.000000,966.656372 
                                            z"/>
                                            <path  opacity="1.000000" stroke="none" 
                                                d="
                                            M826.000000,720.378113 
                                                C680.519897,720.378113 535.539795,720.407959 390.559753,720.327637 
                                                C377.081329,720.320129 364.632294,716.986206 354.627075,707.068665 
                                                C336.762451,689.360779 342.002136,659.835327 360.899109,646.999084 
                                                C369.071503,641.447815 378.038757,639.236084 387.734650,639.235718 
                                                C455.225372,639.232910 522.716125,639.219482 590.206848,639.221741 
                                                C736.520081,639.226746 882.833252,639.235840 1029.146484,639.252869 
                                                C1046.379028,639.254883 1060.268188,646.127136 1068.078857,661.576050 
                                                C1076.948120,679.118591 1073.714111,697.972595 1057.298706,710.738159 
                                                C1047.941040,718.015259 1037.049194,720.374512 1025.472168,720.375366 
                                                C959.148132,720.380188 892.824036,720.377808 826.000000,720.378113 
                                            z"/>
                                            <path  opacity="1.000000" stroke="none" 
                                                d="
                                            M1048.629028,387.944458 
                                                C1039.520386,390.281372 1031.069336,393.313538 1021.717468,393.306885 
                                                C811.428101,393.157227 601.138550,393.307159 390.849823,392.917755 
                                                C377.680847,392.893402 363.752533,390.043182 355.049744,378.140839 
                                                C348.853973,369.667175 345.971619,360.311249 348.280396,348.948608 
                                                C350.833069,336.385559 356.977936,327.394806 368.145599,322.383118 
                                                C374.305359,319.618835 381.505219,317.999329 388.258728,317.925385 
                                                C426.079651,317.511230 463.907410,317.725830 501.732849,317.725555 
                                                C676.029785,317.724213 850.326721,317.708374 1024.623657,317.749329 
                                                C1038.279907,317.752533 1051.097778,320.677826 1060.345215,331.718872 
                                                C1067.311401,340.036011 1069.779785,349.723724 1068.362671,360.753265 
                                                C1066.724121,373.506378 1059.887085,381.958679 1048.629028,387.944458 
                                            z"/>
        </symbol>
        <symbol id="Duvay-logo">
        <path class="logo-main-color"   stroke="none" 
            d="
        M131.337250,532.301636 
            C118.689285,545.806885 102.884544,552.098816 85.269608,553.061951 
            C68.655785,553.970337 51.955593,553.303589 35.293392,553.306641 
            C34.673355,553.306763 34.053268,553.063904 31.624308,552.556335 
            C41.041721,548.880798 39.798992,541.800781 39.806194,535.223572 
            C39.835945,508.063538 39.767967,480.903229 39.872410,453.743561 
            C39.893997,448.131104 39.362644,443.003784 33.730293,440.237213 
            C34.550907,438.063049 36.113407,438.690216 37.279217,438.688110 
            C52.775307,438.660278 68.297340,438.148865 83.760841,438.871765 
            C101.165382,439.685364 117.047066,445.050232 129.693069,457.916901 
            C148.400558,476.950836 151.140060,509.381042 131.337250,532.301636 
        M52.390186,446.122986 
            C51.438545,447.951996 51.241341,449.939484 51.241196,451.947205 
            C51.239075,481.416016 51.202656,510.884979 51.291847,540.353516 
            C51.312847,547.292236 54.582546,550.587585 61.378502,550.602905 
            C69.688835,550.621643 77.982780,550.787781 86.308823,549.906616 
            C112.452774,547.139893 132.502792,526.239807 133.623627,500.116058 
            C134.849640,471.541412 117.716858,448.413940 91.476730,443.267761 
            C80.589890,441.132660 69.582237,442.207672 58.619633,442.156677 
            C56.112968,442.145020 54.157993,443.327698 52.390186,446.122986 
        z"/>
        <path class="logo-main-color" stroke="none" 
            d="
        M325.948700,537.938843 
            C334.720123,529.074524 336.662018,518.163818 336.325623,506.776550 
            C335.813812,489.451538 336.360992,472.147125 336.619690,454.835938 
            C336.712769,448.607117 336.030212,442.836395 328.741455,438.545776 
            C335.341248,437.648987 340.465210,437.963104 346.197418,438.619293 
            C338.030273,443.998993 339.848358,451.876801 339.813873,459.396515 
            C339.730621,477.542542 340.351501,495.690857 339.380188,513.836365 
            C338.184631,536.171082 322.809448,552.428101 300.003052,555.139221 
            C276.790253,557.898743 255.919128,544.240417 250.375320,522.593018 
            C249.300812,518.397278 248.813538,514.108154 248.821564,509.750916 
            C248.856201,490.930786 248.727432,472.109741 248.880371,453.290833 
            C248.926147,447.658813 248.141159,442.674896 242.808182,439.062408 
            C250.699646,437.558472 258.392548,437.924286 267.932037,438.445648 
            C259.102631,444.535309 260.356781,452.428314 260.343048,459.946320 
            C260.313568,476.101654 260.098907,492.261627 260.405701,508.411224 
            C260.702057,524.012451 266.056549,537.096619 280.792908,544.696838 
            C295.600403,552.333740 312.349548,549.863831 325.948700,537.938843 
        z"/>
        <path class="logo-main-color" stroke="none" 
            d="
        M695.321960,466.405029 
            C699.705017,456.517029 703.926514,446.971436 708.118958,437.491577 
            C710.930237,438.104645 710.995850,440.239014 711.698364,441.805603 
            C726.207153,474.158691 740.712524,506.513428 755.125671,538.909180 
            C757.594177,544.457642 760.359375,549.613037 766.886414,551.805542 
            C766.624878,552.168762 766.363403,552.531921 766.101929,552.895142 
            C758.440186,552.895142 750.778442,552.895142 741.664734,552.895142 
            C748.928345,547.420898 744.703552,542.398804 742.564819,537.341003 
            C740.814270,533.201355 738.706482,529.195801 737.212830,524.969666 
            C735.867188,521.162170 733.529968,520.101868 729.660645,520.143677 
            C713.172668,520.322205 696.680847,520.313538 680.192627,520.148315 
            C676.477234,520.111084 674.432190,521.320923 673.096680,524.834106 
            C671.028748,530.274109 668.561951,535.570129 666.097656,540.849365 
            C664.119019,545.088318 662.538635,549.114441 669.749756,552.559509 
            C662.797363,553.802063 657.661377,553.133118 652.638306,553.240295 
            C652.094299,551.420532 653.321899,551.177124 654.115906,550.824890 
            C658.199768,549.013306 660.582275,545.678467 662.294434,541.776428 
            C673.265442,516.773682 684.208313,491.758514 695.321960,466.405029 
        M711.917114,469.476105 
            C709.718628,464.710052 707.520142,459.944031 704.766724,453.974915 
            C695.236877,475.327789 686.226135,495.517609 677.172485,515.803589 
            C682.875854,517.477966 728.619751,517.225037 732.661438,515.495667 
            C725.856018,500.378632 719.052429,485.265869 711.917114,469.476105 
        z"/>
        <path stroke="none" 
            d="
        M888.120789,444.413300 
            C887.956055,446.680206 888.423584,448.406464 889.459412,450.000183 
            C900.619507,467.172058 911.770203,484.350006 922.929932,501.522125 
            C923.377625,502.210968 923.827026,502.939575 925.533997,502.966888 
            C930.611206,495.938507 935.935364,488.549866 941.279175,481.175507 
            C948.704224,470.929260 956.172913,460.714386 963.565063,450.444489 
            C967.106506,445.524414 966.762268,443.354767 961.380798,438.962769 
            C967.974976,438.962769 973.848511,438.962769 980.457458,438.962769 
            C966.339233,446.397217 960.965271,460.580719 951.982300,471.614197 
            C943.794800,481.670471 936.643616,492.566528 928.911682,503.000580 
            C926.927429,505.678253 925.990234,508.416595 926.046387,511.761047 
            C926.191772,520.418884 926.157410,529.081543 926.063599,537.740845 
            C926.001953,543.436218 926.275330,548.898376 932.028931,552.750854 
            C924.113037,552.750854 916.197205,552.750854 906.977051,552.750854 
            C916.337708,546.815918 913.837280,538.043884 914.795166,530.001282 
            C916.640381,514.508423 911.905945,501.709167 902.419067,489.523132 
            C892.723877,477.069397 884.492859,463.476196 875.613159,450.387054 
            C872.684753,446.070526 869.316223,442.205536 864.519958,439.203613 
            C873.571899,439.203613 882.623840,439.203613 891.936951,439.203613 
            C891.314270,441.332336 888.264587,441.626648 888.120789,444.413300 
        z"/>
        <path stroke="none" 
            d="
        M508.281128,537.198120 
            C505.310608,542.915833 503.836975,548.969543 500.436249,553.929688 
            C498.078430,553.453186 497.855743,551.793518 497.281738,550.497314 
            C483.457245,519.278687 469.637787,488.057800 455.865540,456.816071 
            C452.923218,450.141510 450.563477,443.098938 443.354706,439.070007 
            C450.833160,439.070007 458.311584,439.070007 466.596619,439.070007 
            C461.851166,443.080963 463.137207,447.098053 465.119080,451.452820 
            C477.399200,478.436127 489.543060,505.481476 501.745056,532.500427 
            C502.285675,533.697449 502.951965,534.837708 503.535217,535.957397 
            C505.533173,535.879639 505.639984,534.297791 506.140686,533.177795 
            C518.581055,505.352539 530.941956,477.491608 543.472961,449.707367 
            C545.230469,445.810577 545.101318,442.698669 540.904053,439.293671 
            C546.513062,438.124939 551.216797,438.726288 556.242310,439.321350 
            C548.041138,443.419556 546.066345,451.465576 542.886047,458.658020 
            C531.367676,484.707001 519.901733,510.779175 508.281128,537.198120 
        z"/>
        </symbol>
    </svg>
</body>
</html>